.CoinInput {
    display: flex;
    & > input {
        width: 80%;
        border: none;
        box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
        border-radius: 100vmax;
        height: 2.5rem;
        padding: 0 1rem;
    }

    & > label {
        width: 12%;
        display: flex;
        align-items: center;
        padding-right: 5px;
    }
}
