.title {
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
}

.currencies-list {
    @media (min-width: 720px) {
        padding: 5rem 10rem;
    }
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem 10px;
}
